* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: burlywood;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
}
